force-app/main/default/flows/Booking_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Address_Field_Values_To_Lead_Object</name>
        <label>Assign Address Field Values To Lead Object</label>
        <locationX>314</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>LeadObject.Presentation_Location__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Presentation_Location__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Presentation_Location__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.provinceCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Presentation_Location__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.countryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Presentation_Location__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message_For_Promo_Code_Screen</name>
        <label>Assign Error Message For Promo Code Screen</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>showPromoCodeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PromoCodeDefaultValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Promo_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PromoCodeScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Values_To_Lead_Object</name>
        <label>Assign Field Values To Lead Object</label>
        <locationX>182</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>LeadObject.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_School</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Company_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_of_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_of_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Direct_Phone_Number.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.School_Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>School_Phone_Number.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Address_Booking_Contact.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.School_Organisation_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Address_School_Organisation.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Preferred_Training_Date_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Date_For_Presentation_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Preferred_Training_Date_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Date_For_Presentation_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Preferred_Training_Date_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Date_For_Presentation_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booking Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Is_Funded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isFunded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Promo_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Promo_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Filled_By_Bully_Zero__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filledByBullyZero</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Do_you_have_different_presentation_location_to_address_above_is_checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Id_to_Input_Variable</name>
        <label>Assign Lead Id to Input Variable</label>
        <locationX>182</locationX>
        <locationY>1748</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadObject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>preferredDate1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Date_For_Presentation_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>promoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Promo_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Booking_Form_Part_B</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Preferred_Date_1_to_a_Variable</name>
        <label>Assign Preferred Date 1 to a Variable</label>
        <locationX>578</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>preferredDate1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Record.Preferred_Training_Date_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>promoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Record.Promo_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filledByBullyZero</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Record.Filled_By_Bully_Zero__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Booking_Form_Part_B</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Presentation_Location_Field_Values_To_Lead_Object</name>
        <label>Assign Presentation Location Field Values To Lead Object</label>
        <locationX>50</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>LeadObject.Presentation_Location__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Presentation_Location.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Presentation_Location__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Presentation_Location.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Presentation_Location__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Presentation_Location.provinceCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Presentation_Location__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Presentation_Location.countryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadObject.Presentation_Location__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Presentation_Location.postalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Lead_Id</name>
        <label>Check for Lead Id</label>
        <locationX>446</locationX>
        <locationY>908</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>Doesn_t_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Booking_Form_Part_A</targetReference>
            </connector>
            <label>Doesn&apos;t Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Sponsorship_Tracker_Record</name>
        <label>Check for Sponsorship Tracker Record</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message_For_Promo_Code_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Exist Or Programs Not Available</defaultConnectorLabel>
        <rules>
            <name>Exist_Programs_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sponsorship_Tracker_Record_From_Promo_Code</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sponsorship_Tracker_Record_From_Promo_Code.Number_of_Remaining_Programs__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Sponsorship_Tracker_Record_From_Promo_Code.Number_Of_Free_Programs_Per_School__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Lead_Id</targetReference>
            </connector>
            <label>Exist &amp; Programs Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Do_you_have_different_presentation_location_to_address_above_is_checked</name>
        <label>Check If &apos;Do you have different presentation location to address above?&apos; is checked</label>
        <locationX>182</locationX>
        <locationY>1340</locationY>
        <defaultConnector>
            <targetReference>Assign_Address_Field_Values_To_Lead_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_different_presentation_location_to_address_above</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Presentation_Location_Field_Values_To_Lead_Object</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Funded_or_Not</name>
        <label>Check If Funded or Not</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Check_for_Lead_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal</defaultConnectorLabel>
        <rules>
            <name>Funded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isFunded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PromoCodeScreen</targetReference>
            </connector>
            <label>Funded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Lead_Record_Exists</name>
        <label>Check If Lead Record Exists</label>
        <locationX>710</locationX>
        <locationY>1124</locationY>
        <defaultConnector>
            <targetReference>Already_Filled_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Exists</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Preferred_Date_1_to_a_Variable</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <description>This is a screen flow for complete booking form with part A and B.</description>
    <dynamicChoiceSets>
        <name>AccountTypePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FirstValue</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!YearLevelValueForSelectedProgram}, FIND(&apos;;&apos;,{!YearLevelValueForSelectedProgram})-1))</expression>
    </formulas>
    <formulas>
        <name>RemainingValues</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!YearLevelValueForSelectedProgram},{!FirstValue}+&apos;;&apos;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Booking Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Booking Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>1640</locationY>
        <connector>
            <targetReference>Assign_Lead_Id_to_Input_Variable</targetReference>
        </connector>
        <inputReference>LeadObject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>710</locationX>
        <locationY>1016</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Lead_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record_Type</name>
        <label>Get Lead Record Type</label>
        <locationX>182</locationX>
        <locationY>1124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Field_Values_To_Lead_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>School_Enquiry</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sponsorship_Tracker_Record_From_Promo_Code</name>
        <label>Get  Sponsorship Tracker Record From Promo Code</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Sponsorship_Tracker_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promo_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Promo_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>Promo_Code_Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sponsorship_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Already_Filled_Message_Screen</name>
        <label>Already Filled Message Screen</label>
        <locationX>842</locationX>
        <locationY>1232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Form_Part_B_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 28px;&quot;&gt;Program Booking Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AlreadyFilledMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your form is already filled up. Thank you!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Booking_Form_Part_A</name>
        <label>Booking Form Part A</label>
        <locationX>182</locationX>
        <locationY>1016</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Lead_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Form_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;Booking Form Part A&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FundedBookingMgs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Note: &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;This booking is funded by &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Sponsorship_Tracker_Record_From_Promo_Code.Organisation__r.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;. You are eligible to book up to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Sponsorship_Tracker_Record_From_Promo_Code.Number_Of_Free_Programs_Per_School__c} program(s)&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; at no cost.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isFunded</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Name_of_School</name>
            <dataType>String</dataType>
            <fieldText>Name of School/Organisation</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Maximum 255 characters are alllowed.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Name_of_School}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AccountType</name>
            <choiceReferences>AccountTypePicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>Australia</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Do_you_have_different_presentation_location_to_address_above</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you have different presentation location to address above?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Presentation_Location</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Presentation Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>Australia</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_different_presentation_location_to_address_above</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Booking_Form_Part_A_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking_Form_Part_A_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_of_Contact</name>
                    <dataType>String</dataType>
                    <fieldText>First Name of Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Maximum 40 characters are alllowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!First_Name_of_Contact}) &lt;= 40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Work_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Work Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Maximum 128 characters are alllowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Work_Title}) &lt;= 128</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>School_Phone_Number</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>School Phone Number </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>(0x) xxxx xxxx</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Maximum 40 characters are alllowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!School_Phone_Number.value}) &lt;= 40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Email_Address_Booking_Contact</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address - Booking Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;This value doesn&apos;t follow the required pattern. Try a different format or contact your admin for help.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email_Address_Booking_Contact.value},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Preferred_Date_For_Presentation_1</name>
                    <dataType>Date</dataType>
                    <fieldText>Preferred Date For Presentation 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Past dates are not allowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!$Flow.CurrentDate} &lt;= {!Preferred_Date_For_Presentation_1}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Preferred_Date_For_Presentation_3</name>
                    <dataType>Date</dataType>
                    <fieldText>Preferred Date For Presentation 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Past dates are not allowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!$Flow.CurrentDate} &lt;= {!Preferred_Date_For_Presentation_3}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Booking_Form_Part_A_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_of_Contact</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name of Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Maximum 80 characters are alllowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Last_Name_of_Contact}) &lt;= 80</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Direct_Phone_Number</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Direct Phone Number  </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Maximum 40 characters are alllowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Direct_Phone_Number.value}) &lt;= 40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Email_Address_School_Organisation</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address - School/Organisation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;This value doesn&apos;t follow the required pattern. Try a different format or contact your admin for help.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email_Address_School_Organisation.value},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Website</name>
                    <dataType>String</dataType>
                    <fieldText>Website</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Maximum 255 characters are alllowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Website}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Preferred_Date_For_Presentation_2</name>
                    <dataType>Date</dataType>
                    <fieldText>Preferred Date For Presentation 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Past dates are not allowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!$Flow.CurrentDate} &lt;= {!Preferred_Date_For_Presentation_2}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Booking_Form_Part_B</name>
        <label>Booking Form Part B</label>
        <locationX>446</locationX>
        <locationY>1940</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Form_B_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;Program Booking Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProgramSelectionLWC</name>
            <extensionName>c:bookingFormProgramSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filledByBullyZero</name>
                <value>
                    <elementReference>filledByBullyZero</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>leadId</name>
                <value>
                    <elementReference>leadId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preferredDate1</name>
                <value>
                    <elementReference>preferredDate1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>promoCode</name>
                <value>
                    <elementReference>promoCode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PromoCodeScreen</name>
        <label>PromoCodeScreen</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Sponsorship_Tracker_Record_From_Promo_Code</targetReference>
        </connector>
        <fields>
            <name>PromoCodeScreenHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;Enter Promo Code&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Promo_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PromoCodeDefaultValue</elementReference>
            </defaultValue>
            <fieldText>Promo Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PromoCodeErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter a valid promo code. The code may be incorrect or expired.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showPromoCodeError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Funded_or_Not</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>filledByBullyZero</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isFunded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>preferredDate1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>promoCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PromoCodeDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showPromoCodeError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>YearLevelListForSelectedProgram</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YearLevelValueForSelectedProgram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
