force-app/main/default/flows/Booking_Form_C.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Send all the final details to schools after Booking Form C.</description>
        <name>Send_Final_Details_To_School</name>
        <label>Send Final Details To School</label>
        <locationX>380</locationX>
        <locationY>1940</locationY>
        <actionName>SendFinalDetailsToSchool</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendFinalDetailsToSchool</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Paid_Workshop_Flag</name>
        <label>Assign Paid Workshop Flag</label>
        <locationX>468</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>isPaidProgramAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Booking_Form_Part_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_opportunity_record</name>
        <label>Assign values to opportunity record</label>
        <locationX>50</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Will_you_be_the_main_contact_throughout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_will_be_the_main_contact_throughout_all_communication_regarding_the_program</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Who_will_meet_presenter_at_reception__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_will_meet_the_presenter_at_reception</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Anything_of_sensitivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_anything_of_sensitivity_the_presenter_should_know_before_the_presentati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Student_numbers_for_each_session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_confirm_the_participant_numbers_for_each_session</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Will_you_raise_a_PO_for_this_booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_your_accounts_department_raise_a_purchase_order_number_for_this_booking</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Purchase_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_yes_please_provide_this_Purchase_Order_Number_ASAP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Where_will_the_program_be_held__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Where_will_the_program_be_held_i_e_school_address_school_library_classroom_schoo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.other_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Specify_Other_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Can_you_have_an_IT_member_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Can_you_have_an_IT_member_of_staff_available_to_ensure_that_all_equipment_is_fun</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Person_allocated_for_tech_support__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_name_of_the_person_allocated_for_tech_support</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Where_can_the_presenter_park__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Where_can_the_presenter_park</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Confirm_Bully_Zeoro_Program_Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_confirm_the_Bully_Zero_program_booking_and_authorise_Bully_Zero_to_proceed_wit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Is_Form_C_Filled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.To_whom_shall_the_invoice_be_sent_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Getting_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Do_you_have_audio_visual_equipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_audio_visual_equipment_available_for_the_presentation_including_micr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_values_to_opportunity_record</name>
        <label>Copy 1 of Assign values to opportunity record</label>
        <locationX>314</locationX>
        <locationY>1556</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Will_you_be_the_main_contact_throughout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_will_be_the_main_contact_throughout_all_communication_regarding_the_program</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Who_will_meet_presenter_at_reception__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_will_meet_the_presenter_at_reception</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Anything_of_sensitivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_anything_of_sensitivity_the_presenter_should_know_before_the_presentati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Student_numbers_for_each_session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_confirm_the_participant_numbers_for_each_session</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Will_you_raise_a_PO_for_this_booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_your_accounts_department_raise_a_purchase_order_number_for_this_booking</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Purchase_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_yes_please_provide_this_Purchase_Order_Number_ASAP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Where_will_the_program_be_held__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Where_will_the_program_be_held_i_e_school_address_school_library_classroom_schoo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.other_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Specify_Other_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Can_you_have_an_IT_member_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Can_you_have_an_IT_member_of_staff_available_to_ensure_that_all_equipment_is_fun</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Person_allocated_for_tech_support__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_name_of_the_person_allocated_for_tech_support</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Where_can_the_presenter_park__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Where_can_the_presenter_park</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Confirm_Bully_Zeoro_Program_Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_confirm_the_Bully_Zero_program_booking_and_authorise_Bully_Zero_to_proceed_wit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Is_Form_C_Filled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.To_whom_shall_the_invoice_be_sent_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Do_you_have_audio_visual_equipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_audio_visual_equipment_available_for_the_presentation_including_micr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_values_to_opportunity_record</name>
        <label>Copy 2 of Assign values to opportunity record</label>
        <locationX>578</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Will_you_be_the_main_contact_throughout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_will_be_the_main_contact_throughout_all_communication_regarding_the_program</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Who_will_meet_presenter_at_reception__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_will_meet_the_presenter_at_reception</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Anything_of_sensitivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_anything_of_sensitivity_the_presenter_should_know_before_the_presentati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Student_numbers_for_each_session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_confirm_the_participant_numbers_for_each_session</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Where_will_the_program_be_held__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Where_will_the_program_be_held_i_e_school_address_school_library_classroom_schoo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.other_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Specify_Other_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Can_you_have_an_IT_member_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Can_you_have_an_IT_member_of_staff_available_to_ensure_that_all_equipment_is_fun</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Person_allocated_for_tech_support__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_name_of_the_person_allocated_for_tech_support</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Where_can_the_presenter_park__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Where_can_the_presenter_park</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Confirm_Bully_Zeoro_Program_Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_confirm_the_Bully_Zero_program_booking_and_authorise_Bully_Zero_to_proceed_wit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Is_Form_C_Filled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Do_you_have_audio_visual_equipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_audio_visual_equipment_available_for_the_presentation_including_micr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Paid_Program_Flag</name>
        <label>Check for Paid Program Flag</label>
        <locationX>380</locationX>
        <locationY>1124</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_values_to_opportunity_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isPaidProgramAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Contact</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Paid_Workshops</name>
        <label>Check for Paid Workshops</label>
        <locationX>600</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Iterate_Workshop_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Workshop_Records.Funded_by_3rd_Party__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Paid_Workshop_Flag</targetReference>
            </connector>
            <label>Is Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Form_C_Is_Already_Filled_For_Opportunity</name>
        <label>Check If Form C Is Already Filled For Opportunity</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Another_End_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Filled</defaultConnectorLabel>
        <rules>
            <name>Not_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Is_Form_C_Filled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Workshops</targetReference>
            </connector>
            <label>Not Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_existing_Contact_Found</name>
        <label>If existing Contact Found</label>
        <locationX>182</locationX>
        <locationY>1340</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>If_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_opportunity_record</targetReference>
            </connector>
            <label>If Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>programepicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Where_will_the_program_be_held__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Booking Form C {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Booking Part C</label>
    <loops>
        <name>Iterate_Workshop_Records</name>
        <label>Iterate Workshop Records</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Related_Workshops</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Paid_Workshops</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Booking_Form_Part_C</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create an New Contact From details of Booking Part C Form.</description>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>314</locationX>
        <locationY>1448</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_values_to_opportunity_record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Form_C_Is_Already_Filled_For_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Workshops</name>
        <label>Get Related Workshops</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Workshop_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Workshops__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Checking For Existing Contact</description>
        <name>Getting_Contact</name>
        <label>Getting Contact</label>
        <locationX>182</locationX>
        <locationY>1232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_existing_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>380</locationX>
        <locationY>1832</locationY>
        <connector>
            <targetReference>Send_Final_Details_To_School</targetReference>
        </connector>
        <inputReference>opportunityRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Another_End_Screen</name>
        <label>Another End Screen</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Second_Screen_Label</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 28px;&quot;&gt;Booking Confirmation Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Your form is already filled up. Thank you!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Booking Form for entering final details for booking the Programe.</description>
        <name>Booking_Form_Part_C</name>
        <label>Booking Form Part C</label>
        <locationX>380</locationX>
        <locationY>1016</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Paid_Program_Flag</targetReference>
        </connector>
        <fields>
            <name>Form_Label</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 28px;&quot;&gt;Booking Confirmation Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Who_will_be_the_main_contact_throughout_all_communication_regarding_the_program</name>
            <dataType>String</dataType>
            <fieldText>Who will be the main contact throughout all communication regarding the program?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Who_will_meet_the_presenter_at_reception</name>
            <dataType>String</dataType>
            <fieldText>Who will meet the presenter at reception?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_there_anything_of_sensitivity_the_presenter_should_know_before_the_presentati</name>
            <dataType>String</dataType>
            <fieldText>Is there anything of sensitivity the presenter should know before the presentation?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_confirm_the_participant_numbers_for_each_session</name>
            <dataType>String</dataType>
            <fieldText>Please confirm the participant numbers for each session.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Will_your_accounts_department_raise_a_purchase_order_number_for_this_booking</name>
            <dataType>Boolean</dataType>
            <fieldText>Will your accounts department raise a purchase order number for this booking?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isPaidProgramAvailable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>If_yes_please_provide_this_Purchase_Order_Number_ASAP</name>
            <dataType>String</dataType>
            <fieldText>If yes, please provide this Purchase Order Number ASAP.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isPaidProgramAvailable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InvoiceContactDetailsLabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;To whom shall the invoice be sent to? (Provide First Name, Last Name &amp;amp; Email in below fields)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isPaidProgramAvailable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Booking_Form_Part_C_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking_Form_Part_C_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Maximum 40 characters are alllowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!First_Name}) &lt;= 40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Booking_Form_Part_C_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Maximum 80 characters are alllowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Last_Name}) &lt;= 80</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Booking_Form_Part_C_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;This value doesn&apos;t follow the required pattern. Try a different format or contact your admin for help.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email.value},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isPaidProgramAvailable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Where_will_the_program_be_held_i_e_school_address_school_library_classroom_schoo</name>
            <choiceReferences>programepicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Where will the program be held?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Specify_Other_Location</name>
            <dataType>String</dataType>
            <fieldText>Specify Other Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Where_will_the_program_be_held_i_e_school_address_school_library_classroom_schoo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other location</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_have_audio_visual_equipment_available_for_the_presentation_including_micr</name>
            <dataType>String</dataType>
            <fieldText>Do you have audio visual equipment available for the presentation including microphone, large screen TV or projector?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Can_you_have_an_IT_member_of_staff_available_to_ensure_that_all_equipment_is_fun</name>
            <dataType>String</dataType>
            <fieldText>Will you have an IT member of staff available to ensure that all equipment is functional and working on the day and to take care of any glitches that may arise?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_the_name_of_the_person_allocated_for_tech_support</name>
            <dataType>String</dataType>
            <fieldText>What is the name of the person allocated for tech support?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Where_can_the_presenter_park</name>
            <dataType>String</dataType>
            <fieldText>Where can the presenter park?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>I_confirm_the_Bully_Zero_program_booking_and_authorise_Bully_Zero_to_proceed_wit</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the Bully Zero program booking, and authorise Bully Zero to proceed with making preparations and travel arrangements.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Complete this field.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!I_confirm_the_Bully_Zero_program_booking_and_authorise_Bully_Zero_to_proceed_wit}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Disclaimer:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 16px;&quot;&gt;‘BEHAVIOUR MANAGEMENT IS YOUR RESPONSIBILITY. DISRUPTIVE BEHAVIOUR WILL NOT BE TOLERATED.’&lt;/em&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please ensure that you have teachers or supervisors present at all times during the presentation, so that our presenter can focus on the delivery of the program, rather than having to act in a disciplinary capacity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>380</locationX>
        <locationY>2048</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Second_Screen_Label</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 28px;&quot;&gt;Booking Confirmation Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you! Your details are submitted successfully.﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>isPaidProgramAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
