force-app/main/default/flows/Create_Events_For_Facilitators.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_For_Existing_Events</name>
        <label>Check For Existing Events</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Event_For_Workshop_Presentor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Exists</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Related_Event_If_Any</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Events</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EventSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Program__r.Name} &amp; &apos; - &apos; &amp; TEXT({!$Record.Program_Type__c}) &amp; &apos; - &apos; &amp; TEXT({!$Record.Presentation_Type__c})</expression>
    </formulas>
    <interviewLabel>Create Events For Facilitators {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Events For Facilitators</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event_For_Workshop_Presentor</name>
        <label>Create Event For Workshop Presentor</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Create_Event_Relation_For_Presentor</targetReference>
        </connector>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presentation_State__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Presentation_Location__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.Start_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EventSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Presenter__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Relation_For_Presentor</name>
        <label>Create Event Relation For Presentor</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>EventId</field>
            <value>
                <elementReference>Create_Event_For_Workshop_Presentor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>$Record.Presenter__c</elementReference>
            </value>
        </inputAssignments>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Events</name>
        <label>Delete Existing Events</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_Event_For_Workshop_Presentor</targetReference>
        </connector>
        <inputReference>Get_Existing_Related_Event_If_Any</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Related_Event_If_Any</name>
        <label>Get Existing Related Event If Any</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Existing_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Related_Event_If_Any</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Presenter__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Presenter__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Workshops__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
