force-app/main/default/flows/Create_Events_For_Facilitators_From_the_Opportunity_Detail_Page.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Events_For_Facilitators</name>
        <label>Create Events For Facilitators</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>CreateEventsForFacilitators</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>MessageScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateEventsForFacilitators</nameSegment>
        <outputParameters>
            <assignToReference>DisplayMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <description>Create Events For Facilitators From the Opportunity Detail Page</description>
    <environments>Default</environments>
    <interviewLabel>Create Events For Facilitators {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Events For Facilitators From the Opportunity Detail Page</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>MessageScreen</name>
        <label>MessageScreen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageToShow</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!DisplayMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Events_For_Facilitators</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DisplayMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
